.git
.DS_Store
.claude
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo

vrbreproduction/.obsidian
vrbreproduction/.mplconfig
vrbreproduction/docs/smoothcloud
vrbreproduction/outputs
vrbreproduction/notebooks
vrbreproduction/external
vrbreproduction/data/P01_109_frames
docker-data
frames_parts
frames_parts8
*.tar
*.tar.gz
